<div class="heading fs-large">Settings</div>
<div class="settings">
	<div class="settings-labels">
		<div class="settings-label">Enable Edit:</div>
		<div class="settings-label">INPUT:</div>
	</div>
	<div class="settings-elems">
		<div class="settings-elem">
			<label class="switch">
				<% if (settings.enableEdit) { %>
				    <input type="checkbox" checked />
				<% } else { %>
				    <input type="checkbox" />
				<% } %>
				<span class="slider round"></span>
			</label>
		</div>
		<div class="settings-elem">HELLO</div>
	</div>
</div>
<div class="cmd-btns">
	<button class="button save-btn">Save</button>
	<button class="button reset-btn">Reset</button>
</div>
