<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FS | <%=title%></title>
<link rel="stylesheet" href="/styles/_reset.css">
<link rel="stylesheet" href="/styles/_variables.css">
<link rel="stylesheet" href="/styles/_utils.css">
<link rel="stylesheet" href="/styles/header.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/91a8ec4c45.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/scripts/header.js" type="module" defer></script>