<div class="header">
    <div class="nav-bar">
        <div class="menu">
            <div class="menu-item"><a href="/">Home</a></div>
            <div class="menu-item"><a href="/customers">Customers</a></div>
            <div class="menu-item"><a href="/about">About</a></div>
        </div>
        <div class="logo">
            <img src="/images/logo.svg" alt="logo">
        </div>
        <div class="submenu">
            <div class="submenu-item"><a href=<%= signup.url %>> <%= signup.text %> </a></div>
            <div class="submenu-item"><a href="/career">Career</a></div>
            <div class="submenu-item"><a href=<%= login.url %>> <%= login.text %> </a></div>
        </div>
    </div>
</div>